<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tugasakhirsatunya">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/angkut"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCOnfqD4tbtj4-jyHMfPNI9JA-317krZpk" />

        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TpsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LaporanActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DetailLaporanActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DetailTpsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NikActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".BerhasilActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>